body {
    background-color: lightgray;
}

h1 {
    text-align: center;
}

.exDiv {
    border: 5px outset red;
    background-color: darkgray;
    text-align: center;
}

.coolButton {
    border: none;
    background-color: lightgreen;
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.coolButton:hover {
    background-color: rgb(33, 160, 33);
    color: white;
}

.coolButton:active {
    background-color: rgb(9, 61, 9);
    transition-duration: 0s;
}